.container {
  width: 466px;
  height: 466px;
  background-color: #000000;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 466px;
  height: 466px;
}

.swiper-item {
  width: 466px;
  height: 466px;
  justify-content: center;
  align-items: center;
}

.img {
  width: 100%;
  height: 100%;
}